@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Book

<div class="card card-outline-primary p-4 bg-light mb-5" style="margin: 5px;">
    <h4>
        <span class="card-title float-left">@Model.Title</span>
        <span class="badge badge-light float-right text-secondary">
            @Model.AuthorFirstName @Model.AuthorMiddleName @Model.AuthorLastName
        </span>
    </h4>
    <div class="text-info">
        <p><strong>@Model.Publisher</strong></p>
        <p>@Model.ISBN</p>
        <p>@Model.Classificaton</p>
        <p>@Model.Category</p>
        <p>$@Model.Price</p>
        <p>@Model.Pages</p>
    </div>

    <form id="@Model.BookId" asp-page="/Cart" method="post">
        <input type="hidden" asp-for="BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="cart-text p-1">
            @Model.Title
            <button type="submit" class="btn-success btn-sm pull-right" style="float:right">
                Add to Cart
            </button>
        </span>
    </form>
</div>
