@{
    ViewBag.Title = "Welcome to Most-Definitly-Not-Amazon!";
}

@model BookListViewModel

<div class="container">
    <h4>Browse our wide selection of books!</h4>
    <div class="container col-md-4">
        @foreach (var book in Model.Books)
        {
            <div class="card card-outline-primary p-4 bg-light" style="margin: 5px;">
                <h4>@book.Title</h4>
                <h5>@book.AuthorFirstName @book.AuthorMiddleName @book.AuthorLastName</h5>
                <h6>@book.Publisher</h6>
                <p>@book.ISBN</p>
                <p>@book.ClassificatonCategory</p>
                <p>$@book.Price</p>
                <p>@book.Pages</p>
            </div>
        }
    </div>
</div>


<div Page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" 
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1"></div>