@{
    ViewBag.Title = "Welcome to Most-Definitely-Not-Amazon!";
}

@model BookListViewModel

<div class="container">
    <h4>Browse our wide selection of books!</h4>
    <div class="container col-md-6">
        @foreach (var book in Model.Books)
        {
            <div class="card card-outline-primary p-4 bg-light mb-5" style="margin: 5px;">
                <h4>
                    <span class="card-title float-left">@book.Title</span>
                    <span class="badge badge-light float-right text-secondary">
                    @book.AuthorFirstName @book.AuthorMiddleName @book.AuthorLastName</span>
                </h4>
                <div class="text-info">
                    <p><strong>@book.Publisher</strong></p>
                    <p>@book.ISBN</p>
                    <p>@book.ClassificatonCategory</p>
                    <p>$@book.Price</p>
                    <p>@book.Pages</p>
                </div>
            </div>
        }
    </div>
</div>


<div Page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" 
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1"></div>